<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        form {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>

<form th:method="post" th:action="@{/updateUser}" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>
    <span th:text="*{id}"></span>
    <br/>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{sureName}" id="surname"/>
    <br/>

    <label for="password">New Password: </label>
    <input type="password" name="password" id="password"
           placeholder="Leave empty to keep current"/>
    <br/>
    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:text="${role.roleName}"
                   th:value="${role.id}"
                   th:field="*{roles}"/>
        </label>
    </p>
    <input type="submit" value="OK"/>
</form>

</body>
</html>
